@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #020617;
  overflow-x: hidden;
  
}

.headingFont{
  font-family: 'headingFont', sans-serif;
}

.headingBg{
  background-image: linear-gradient(to right top, rgba(216, 180, 254, 0.8), rgba(255, 255, 255, 0.9));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}

@font-face {
  font-family: 'headingFont';
  src: url('../src/assets/fonts/cd-semi.otf') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'subheadingFont';
  src: url('../src/assets/fonts/jakarta.ttf') ;
  font-weight: normal;
  font-style: normal;
}

.subheadingFont{
  font-family: 'subheadingFont', sans-serif;
}

.bgLuv{
  background-color: rgba(83, 83, 83, 0.326); 
}

.bgLuv2{
  background-color: rgba(83, 83, 83, 0.326); 
}

@font-face {
  font-family: 'productFont';
  src: url('../src/assets/fonts/product-font.ttf') ;
  font-weight: normal;
  font-style: normal;
}

.productFont{
  font-family: 'productFont', sans-serif ;
}

@font-face {
  font-family: 'japanFont';
  src: url('../src/assets/fonts/JapanBentoDemoVersionRegular-nRWAJ.otf') ;
  font-weight: normal;
  font-style: normal;
}

.japanFont{
  font-family: 'japanFont', sans-serif;
}

/* .glow {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
color: white;
font-size: 30px;
text-align: center;	  	
 }

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */

.glow {
  color: #fff;
  text-shadow:
      0 0 7px #00ed2f,
      0 0 10px #04f393,
      0 0 21px #fff,
      0 0 42px #8aff80, /* Light green color */
      0 0 82px #8aff80,
      0 0 92px #8aff80,
      0 0 102px #8aff80,
      0 0 151px #8aff80;
  
  animation: flicker 1.5s infinite alternate;     
}

/* Flickering animation */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #8aff80, /* Light green color */
      0 0 80px #8aff80,
      0 0 90px #8aff80,
      0 0 100px #8aff80,
      0 0 150px #8aff80;
  }
  
  20%, 24%, 55% {        
    text-shadow: none;
  }    
}


.blob {
  position: absolute;
  opacity: 0.5;
  width: 400px;
  aspect-ratio: 1/1;
  animation: animate 10s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite
    alternate forwards;
  filter: blur(40px);
  z-index: -1;
  background: linear-gradient(
    47deg,
    rgba(255, 88, 139, 1) 21%,
    rgb(0 164 173) 67%,
    rgba(118, 74, 166, 1) 81%
  );

  /*  Optional  */
  /*   box-shadow: inset 50px 50px 17px 0px #ff588b,
    inset 100px 100px 17px 0px #66319f; */
}

@keyframes animate {
  0% {
      translate: 40% -25%;
      border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  }
  50% {
      translate: 0% 13%;
      border-radius: 20% 71% 47% 70% / 81% 15% 22% 54%;
      rotate: 41deg;
      scale: 1.15;
  }
  100% {
      translate: -45% 39%;
      border-radius: 100% 75% 92% 74% / 60% 80% 30% 70%;
      rotate: -60deg;
      scale: 1.05;
  }
}

.blurEffect{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.13);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.1px);
-webkit-backdrop-filter: blur(7.1px);
border: 0px solid rgba(255, 255, 255, 0.3);
}

.textShadow {
  text-shadow: 
    4px 4px 10px rgba(0, 0, 0),
    4px 4px 10px rgba(0, 0, 0),
    4px 4px 15px rgba(0, 0, 0);
}
